body {
}

.bannerInfo {
	background-color: #252527;	
	border-radius: 40px 40px 40px 40px;
	color: white;
}

h4{
	text-shadow: 10px 5px 5px black;
}

.perfilImg {
	width: 280px;
	border-radius: 20px;
	border: solid 3px white;
	box-shadow: 10px 9px 15px black;
}

.bannerDatos {
	background-color: #ffffff;
}

.progress {
	height: 14px !important;
}

.alinear {
	display: flex;
	align-items: center;
}

a:link, a:visited, a:active {
	text-decoration: none;
	color: white;
}

table {
	text-align: left;
}

.subtitulos {
	font-size: 28px; 
	font-style: normal;
}
