body {
}
.bannerInfo {
	background-color: #252527;	
	border-radius: 40px 40px 40px 40px;
	color: white;
}

.perfilImg {
	height: 240px;
	border-radius: 50%;
	border: solid 3px white;
}

.bannerDatos {
	background-color: #ffffff;
}

.progress {
	height: 14px !important;
}

.alinear {
	display: flex;
	align-items: center;
}

a:link, a:visited, a:active {
	text-decoration:none;
	color: white;
}

table {
	text-align: left;
}

.subtitulos {
	font-size: 28px; 
	font-style: normal;
}
